@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



.header {

    display: flex;
    flex: 1;
    flex-direction: column;
    
    
  }
  
  .header-top {
    display: flex;
    max-width: 100%;
    max-height: 62px;
    
  }
  .logo-picture
{
  position: absolute;
  size: 28;
  z-index: 1;
  bottom:900px;
  right:1705px
} 
.logo-picture-two
{
  position: absolute;
  size: 28;
  z-index: 1;
  bottom:900px;
  right:1835px;
} 
 .header-top__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 15px;
  }
  
  .header-logo {
    color: inherit;
    

    text-decoration: inherit;
    text-shadow: 0px 0px 5px #7f0000;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    
  }
  
  .header-top__navbar {
    display: flex;
    flex: 1;
    
    flex-direction: column;
    
  }
  
  .header-top__seperator {
    width: 100%;
    border: none;
    height: 3px;
    margin-bottom: 5px;
    background-color: black;
    
  }
  .header-side__seperator {
    height: 65px;
    border: none;
    width: 3px;
    background-color: black;
    margin-left: 10px;
  }
  
  .header-top__navigation {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0px;
 
    gap: 15px;
  }
  
  .header-bottom {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
   
  }
  
  .header-bottom__email {
    margin-right: 55px;
  }
  
  .header-bottom__phone {
    margin-right: 65px;
  }
  
  .header-bottom__bag {
    position: absolute;
    display: flex;
  }
  
  .header-bottom__bag-icon {
    position: relative;
    display: flex;
    left: -5px;
    width: 30px;
    height: 30px; 
  }
  
  .header-bottom__bag-count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: RobotoRegular;
    right: 0px;
   
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    color: white;
  }
  .link{
    
    margin-top: 20px;
    margin-left: 1px;
    display: flex;
    color: rgb(14, 10, 10);
    padding: 10px 15px;
    gap: 10px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    border-radius: 200px;
    border: 1px solid rgb(14, 10, 10);
    color: #000;
    transition: all 0.5s;
}
.active{
    background: rgb(216, 202, 202);
    border-radius: 25%;
    border: 2px solid rgb(14, 10, 10);
    color: #000;
    transition: all .5s;
}
.icon, .link_text{
  text-shadow: 0px 0px 5px #944e5d;
  font-family: 'Press Start 2P', cursive;
  font-size: medium;
}
